<div id="<%= dom_id evaluation %>">
  <p>
    <strong>User:</strong>
    <%= evaluation.user_id %>
  </p>

  <p>
    <strong>Presentation:</strong>
    <%= evaluation.presentation_id %>
  </p>

  <p>
    <strong>Survey:</strong>
    <%= evaluation.survey_id %>
  </p>

</div>
