<% provide(:title, "New Evaluation") %>
<div>
  <%= link_to "Back to presentations", presentations_path, class: "presentations-back-button presentation-button"%>
</div>

<h1>New Evaluation</h1>

<% if !@authors.blank? %>
  <h3>You are an author of this presentation. You cannot evaluate this presentation.</h3>
<% elsif !@submitted_evaluations.blank? %>
  <h3>You have already evaluated this presentation. You cannot evaluate this presentation again.</h3>
<% else %>
  <%= render "form", evaluation: @evaluation %>
<% end %>

<br>

