<p style="color: green"><%= notice %></p>

<h3 class="bold">Evaluation:</h3>
<%= render @evaluation %>
<br>

<div>
  <%= link_to "Back to Evaluations", evaluations_path, class: "presentations-back-button presentation-button" %>
</div>
