<p style="color: green"><%= notice %></p>

<%= render @evaluation %>

<div>
  <%= link_to "Edit this evaluation", edit_evaluation_path(@evaluation) %>

  <% if current_user.role != 'Student' %>
  <%= button_to "Destroy this evaluation", @evaluation, method: :delete %>
  <% end %>
  
</div>
