<% provide(:title, "About") %>
<div class="jumbotron">
    <h1>About</h1>
    <p>
        This is the CAPE project (Comprehensive Assessment of Presentation Effectiveness). This tool is a web application meant for streamlining the process of peer and self evaluation of presentations. 
        It is meant to be used by students and teachers. The application allows instructors to create presentations and then share them with students.
        The peers can then evaluate the presentation based on a set of criteria. The application then aggregates the evaluations and presents them to the presenter and instructor. 
        The presenter can then use this information to improve their presentation skills. The application also allows teachers to create classes and mointor the enrollment of students. 
        The teachers can then view the presentations and evaluations of the students in their class. 
        
    </p>

    <h1>Team Members</h1>
    <p>
        Created by Nick Webber, Nick Cech, Ryan Tussing, Mohamed Asmali, and Steven Broaddus.


    </p>
</div>