<% provide(:title, "Help") %>
<div class="jumbotron">
    <h1>Help</h1>
    <h2> Overview </h2>
    <p>To start, please log in or create an account. If you are an instructor creating a new course, click create class and once you put in the name of your class, you can create your instructor account.</p>
    <p> Instructors can monitor all students and delete them if something is wrong so students should imput the correct information.</p>
    <p>After logging in, you will see a dashboard filled with useful information. </p>
    <p>Students have their upcoming presentations first on their dashboard where they can view it. Next is presentations that the student still has to fill out an evaluation for. Lastly, students can see the evaluations they have given.</p>
    <p> Instructors have a similar view, just listing all the presentations in their course</p>
    <p> All users have a nav bar to control between presentations, evaluations and the class roster. These pages give more in depth information of each category.</p>
    <p>The top nav bar will always have the home page so you can always go back if you get stuck.</p>
    <h2> Giving an Evaluation </h2>
    <p>When you are ready to evaluate a presentation, click the evaluate button on the presentation. Or you can navigate to it under the 'View Presentation' button.</p>
    <p> Don't worry, you are not allowed to submit the same evaluation twice so you don't have to remember which evaluations you gave already.</p> 
    <p> You will be able to see the presentation and evaluate it based on many metrics. You will also be able to leave comments on the presentation.</p>
    <p>Evaluations are anonymous to everyone except the professor.</p>
    <h2> Creating a Presentation </h2>
    <p> If you are an instructor, you can create a presentation by clicking the 'New Presentation' button on the presentations page. </p>
    <p> You will be able to fill out the title, description, and due date of the presentation. It can be changed at any time</p>
    <p> You can also delete a presentation if you need to.</p>
    <h2> Viewing the Class Roster </h2>
    <p> You can view the class roster by clicking the 'Roster' button on the nav bar. </p>
    <p> You will be able to see all the students in your class and their information. You can also delete students or change their roles to become a TA if you need to.</p>
    <br>
    <hr>
    <p>After you are done, make sure to log out!</p>
    <p>Thank you for using our web application!</p>

    <div class="center">
        <%= image_tag("kitten.jpg", alt: "Photo of a kitty", width: "700") %>
    </div>
</div>