<% provide(:title, "Help") %>
<h1>Help</h1>
<p>To start, please log in or create an account. When creating an account, please input the correct information as instructors can monitor all students and delete them if the information is wrong.</p>
<p>After logging in, you will see a dashboard filled with links to different elements of this web application. They may include viewing all presentations, and seeing upcoming presentations</p>
<p>The nav bar at the top will always have the home page so you can always go back if you get stuck.</p>
<p>When you are ready to evaluate a presentation, click on the link to view all presentations. Then click on the presentation you want to evaluate. 
    You will be able to see the presentation and evaluate it based on many metrics. You will also be able to leave comments on the presentation.</p>
<p>You can edit the evaluation after that but once you leave that page, you cannot go back.</p>
<p>After you are done, make sure to log out!</p>
<p>Thank you for using our web application!</p>

    <%= image_tag("kitten.jpg", alt: "Photo of a kitty", width: "700") %>