<% provide(:title, "Home") %>
<h1>Comprehensive Assessment of Presentation Effectiveness (peer and self evaluation)</h1>
<p>
Please <%= link_to 'sign in', new_user_session_path %> or <%= link_to 'sign up', new_user_registration_path %> to see all upcoming presentations.
</p>