<p style="color: green"><%= notice %></p>

<h1>Courses</h1>

<p>You do not have the credentials to view this page.</p>
<p> Please contact your administrator to resolve any course related issues.</p>

<%# <% if current_user.role == 'Admin' %>
<%# <div id="courses"> %>
  <%# <% @courses.each do |course| %> 
    <%# <%= render course %> 
    <%# <p> %>
      <%# <%= link_to "Show this course", course %>
    <%# </p> %>
  <%# <% end %>
<%# </div> %>
<%# <% end %>

