/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@font-face {
  font-family: 'OpenSans';
  src: font-url('OpenSans.ttf') format('truetype');
}

* {
  font-family: 'OpenSans', Arial, sans-serif;
}

body {
  display: flex;
    flex-direction: column;
  min-height: 100vh;
}

h3 {
  margin-top: 10px;
}

.your-class {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 16px;
  color: #333;
  background-color: #fff;
}

.radio-options {
  padding: 15px; 
  background-color: lightgray;
  border-radius: 5px;
}

.radio-options label {
  display: inline-flex;
  margin-right: 8%;
  padding: 5px 10px;
}

.radio-option {
  margin-bottom: 20px;
}

h2 {
  margin-bottom: 5px;
  font-size: xx-large;
}

thead {
  font-size: 2rem;
}

th {
  border: 2px solid black;
}

td {
  border: 1px solid black;
}

td,
th {
  padding: 5px;
  text-align: left;
}

.lighten {
  color: darkgray;
}

.display_table {
  display: table;
  width: 100%;
  
  text-align: center;
}

#main {
  display: flex;
    flex-direction: column;
    flex-grow: 1;
}

#sign-out-button {
  height: 50px;
  display: flex;
    align-items: center;
}

#mainnav {
  margin-bottom: 0px;
  border: 0;
}

#subnav {
  background-color: #303030;

}

.navbar {
  border-radius: 0px;
}

.bold {
  font-weight: bold;
}

.d-flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.align-items-center {
  align-items: center;
}

.justify-content-center {
  justify-content: center;
}

.presentation-container {
  border-radius: 10px;
  padding: 15px;
  border: 1px solid black;
}

.gap-3 {
  gap: 1rem;
}

.presentation-button {
  cursor: pointer;
  color: white;
  font-weight: bold;
  padding: 10px;
  border-radius: 5px;
  width: 125px;
  height: 60px;
  margin: 0 10px;
  display: flex;
    align-items: center;
    justify-content: center;
  text-align: center;
}

.view-presentation-button {
  background-color: #007bff;
}

.new-evaluation-button {
  background-color: #4CAF50;
}

.presentations-back-button {
  background-color: lightgray;
}

.presentations-edit-button {
  background-color: #4CAF50;
}

.presentations-delete-button {
  background-color: #dc3545;
  border-right-style: none;
  border-bottom-style: none;
}

.view-presentation-button:hover, .new-evaluation-button:hover, .presentations-back-button:hover, .presentations-edit-button:hover, .presentations-delete-button:hover {
  text-decoration: none;
  color: white;
}

.text-center {
  text-align: center;
}

.stats-grid {
  display: grid;
    grid-template-columns: 4fr 1fr;
}

.stats-grid-title {
  background-color: lightgray;
  height: 40px;
  display: flex;
    align-items: center;
    justify-content: center;
  border: 1px solid black;
}

.stats-score {
  text-align: center;
}

.dnone {
  display: none;
}

.border-right {
  border-right: 1px solid black;
}