/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @font-face {
    font-family: 'OpenSans';
    src: font-url('OpenSans.ttf') format('truetype');
  }

 * {
    font-family: 'OpenSans', Arial, sans-serif;
  }

 .footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgba(255, 0, 208, 0.334);
    color: black;
    text-align: center;
  }

  .header {
    position: relative;
    left: 0;
    top: 0;
    width: 100%;
    background-color: rgba(255, 0, 208, 0.334);
    color: black;
    text-align: center;
  }

  .logged_in {
    position: absolute;
    right: 10px;
    top: 5px;
    border: 2px solid #333; /* Adjust color as needed */
    border-radius: 15px; /* Adjust as needed to create the "bubbly" effect */
    text-align: center;
    padding: 5px;
    background-color: rgba(150, 0, 122, 0.334);
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
  }

  .your-class {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
    color: #333;
    background-color: #fff;
  }